:root {
  /* white */
  --white-primary: #fff;
  --white-secondary: #fafafa;

  /* gray */
  --gray-primary: #dbdbdb;
  --gray-secondary: #262626;

  /* blue */
  --blue-primary: #0095f6;
  --blue-disable: #0095f64d;
}
